node_modules/
.DS_Store
*.log
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

out/
.next/
.idea/
.vscode/
*.orig.js
*.orig.ts
*.orig.json
*.orig.yaml
*.orig.yml
*.backup
*.bak
*.tmp
*.swp
*~